{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Personal Details {% endblock %}

{% block search %}

{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'newcar' %}"><span class="glyphicon glyphicon-align-justify"></span> Home </a></li>
<!--          <li><a href="{% url 'customercreated' %}"><span class="glyphicon glyphicon-align-justify"></span> Start Subscription</a></li>-->
       <li><a href="{% url 'endsubscribe' %}"><span class="glyphicon glyphicon-align-justify"></span> Cancel Subscription</a></li>
          <li><a href="{% url 'extendsubscribe' %}"><span class="glyphicon glyphicon-align-justify"></span> Renew Subscription</a></li>

          {% endblock %}
{% block body %}
<div class ='col-sm-5 col-sm-offset-3'>
    <h1>{{ title }}</h1><hr>

    <form method="POST" action="">{% csrf_token %}
      {{form|crispy}}
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
</form>
</div>
{% endblock %}