{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Personal Details {% endblock %}

{% block search %}

{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'usersearch' %}"><span class="glyphicon glyphicon-align-justify"></span> Home </a></li>
 <!--       <li><a href="{% url 'customercreated' %}"><span class="glyphicon glyphicon-align-justify"></span> Fill Details</a></li> -->
          <li><a href="{% url 'details' %}"><span class="glyphicon glyphicon-align-justify"></span> Account Summary </a></li>
  <!--        <li><a href="{% url 'startsubscribe' %}"><span class="glyphicon glyphicon-align-justify"></span> Subscriptions </a></li> -->
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Logout {{request.user.username}}</a></li>
      </ul>
          {% endblock %}
{% block body %}
<div class ='col-sm-5 col-sm-offset-3'>
    <h1>{{ title }}</h1><hr>

    <form method="POST" action="">{% csrf_token %}
      {{form|crispy}}
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a href="{% url 'extend_subscription' %}" class="btn btn-primary" role="button">Extend</a>
        </div>

</form>
</div>
{% endblock %}