{% extends 'base.html' %}
{% block title %} Order Detail {% endblock %}

{% block body %}


<div class ='col-sm-6 col-sm-offset-3'>
  <strong><p style="color: red">Your payment was successful. Please check My Bookings for details.</p></strong>
  <p class="list-group-item active">
    <strong><span class="glyphicon glyphicon-tag"></span> Payment Confirmation</strong>
  </p>
  <a href="" class="list-group-item"><strong>Customer: </strong>{{detail.customer}}</a>
   <a href="" class="list-group-item"><strong>Car name: </strong>{{detail.vehicle}}</a>
<a href="" class="list-group-item"><strong>Location: </strong>{{detail.depot}}</a>

  <a href="" class="list-group-item"><strong>From: </strong>{{detail.start_time}}</a>
  <a href="" class="list-group-item"><strong>To: </strong>{{detail.end_time}}</a>
<a href="" class="list-group-item"><strong>Cost: </strong>${{detail.user_tran}}</a>

</div>

{% endblock %}