{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Personal Details {% endblock %}

{% block body %}

<div class ='col-sm-6 col-sm-offset-3'>

  <p class="list-group-item active">
    <strong><span class="glyphicon glyphicon-book"></span> Account Summary</strong>
  </p>
    <div class="row">
        {% for ob in obj1 %}
   <a href="" class="list-group-item"><strong>Name:             </strong>{{ob.first_name}}</a>
   <a href="" class="list-group-item"><strong>Last Name:             </strong>{{ob.last_name}}</a>
  <a href="" class="list-group-item"><strong>Address:           </strong>{{ob.address}}</a>
  <a href="" class="list-group-item"><strong>Mobile:            </strong>{{ob.mobileno}}</a>
  <a href="" class="list-group-item"><strong>License Plate:     </strong>{{ob.license_place}}</a>
  <a href="" class="list-group-item"><strong>Pay Type:          </strong>{{ob.payment_type}}</a>
  <a href="" class="list-group-item"><strong>License Number:    </strong>{{ob.license_number}}</a>
  <a href="" class="list-group-item"><strong>Cost:      </strong>{{ob.acc}}</a>
  <a href="" class="list-group-item"><strong>Subscription Start: </strong>{{ob.sub_start}}</a>
  <a href="" class="list-group-item"><strong>Subscription End:   </strong>{{ob.sub_end}}</a>

            <a href="{% url 'modify_profile' ob.id %}" class="btn btn-primary" role="button">Modify</a>
                <a href="{% url 'end_sub' ob.id %}" class="btn btn-danger" role="button">Cancel</a></p>
</div>
      </div>

{% endfor %}

{% endblock %}